.send-message {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkgrey;
  /*border-top: solid 1px grey;*/
  box-sizing: border-box;
}

.send-message-field {
  height: 100%;
  width: 40%;
  padding: 10px;
  margin-right: 20px;
  border: solid 1px grey;
  border-bottom: none;
  box-sizing: border-box;
}

.send-message-button {
  padding: 5px 15px;
  box-shadow: 0 0 5px -2px #000000;
  background: transparent;
  border: solid 1px #ffffff;
  color: #ffffff;
  cursor: pointer;
}