.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-header {
  text-align: center;
}

.auth-form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.input {
  display: block;
  margin-bottom: 20px;
}

.input-field {
  display: block;
  width: 100%;
}

.auth-button {
  text-align: center;
}

.auth-btn {
  padding: 6px 30px;
  border: solid 1px #ffffff;
  background: none;
  cursor: pointer;
  box-shadow: 0 0 5px -2px #000000;
}